* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* working-with-before-and-pseudo-element */
.working-with-before-and-pseudo-element {
    border: 3px solid tomato;
    margin: 40px 0;
    padding: 30px 0;
    text-align: center;
}

h1::after {
    content: "I am after element";
    background: tomato;
    height: 30px;
    width: 50px;
}

.working-with-before-and-pseudo-element h1 {
    border: 2px solid black;
}

h1::before {
    content: "Before element";
    color: tomato;
    margin-right: 20px;
}

/* WORKING WITH COMBINATORS */
.working-with-css-combinators {
    border: 3px solid black;
    margin: 40px 0;
}

/* we have 4 basic selectors in css */
/* Decendant selector (space) */
/* Child selector (>) */
/* Adjacnt selector (+) */
/* General sibling selector (~) */

/* Using Adjacent selector*/
.working-with-css-combinators div {
    background: tomato;
}

.working-with-css-combinators p {
    background: blue;
}

/* Using Child selectors */
div>p {
    color: tomato;
}

/* WOrking with Mixing Combinator */
.working-with-css-combinators div>p {
    color: tomato;
}

/* Working with Sibling selectors (+) */
div+p {
    background: #d9d9d9 !important;
}

/* General Sibling selecto (~) */
div~p {
    background: #d9d9d9 !important;
}


.color-changer-project {
    padding-top: 60px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
}

.color-app-holder {
    /* border: 3px solid red; */
    height: 200px;
    width: 450px;
    display: flex;
}

.left-holder {
    width: 15%;
    height: 100%;
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right-holder {
    width: 85%;
    height: 100%;
    background: #000;
}

.circle {
    /* border: 3px solid red; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.red {
    background: #ffa800;
}

.orange{
    background: tomato;
}

.blue {
    background: #87cee8;
}

.working-with-box-model {
    border: 3px solid tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parent1 {
    background: #d9d9d9;
    height: 300px;
    width: 400px;
}

.parent2 {
    background: #000;
    height: 300px;
    width: 400px;
}

.box-model-child {
    background: tomato;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

/* Working with flex row */
.working-with-flex-row {
    border: 3px solid tomato;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flexchild {
    width: 80px;
    height: 80px;
    background: tomato;
    border: 2px solid black;
}

.working-with-flex-column {
    border: 3px solid red;
    height: 280px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

